{% extends "base.html" %} {% block content %}

{% load static %}

    <p class='container_bot'>Hello {{ first_name }}. You schooled at {{ school }}. </p>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <form action="">
                    <div class="form-group">
                        <label for="forexampleFormControlTextArea1" class="h4 pt-5">Chatroom</label>
                        <textarea name="" id="chat-text" cols="30" rows="10" class="form-control">
                        </textarea><br>

                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="input">
                        </input><br>
                        <input type="submit" class="btn btn-secondary btn-lg btn-block" value="Send" id="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
  
    <div id="user-hello"></div>
    {{ room_name|json_script:"room-name" }}



    {% block extra_scripts %}
    
   <script >

    document.querySelector('#submit').onclick = function(e) {
        const messageInputDom = document.querySelector("#input");
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
        }));

        messageInputDom.value = '';
    
    }    
   
    var roomName = JSON.parse(document.getElementById('room-name').textContent)
    var chatSocket = new WebSocket(
        'ws://' +
        window.location.host +
        '/ws/chatrooms/' +
        roomName + 
        '/'
    );
    console.log(chatSocket)
 
    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        const chat_message = document.querySelector('#chat-text').value += (data.message + '\n')
        console.log(chat_message)
    }


</script>

    {% endblock extra_scripts %}


{% endblock content %}

